#chapterContainer {
  border: 0.5px solid;
  border-color: LightGray;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  height: 77vh;
  overflow-y: scroll;
  white-space: pre-line; /* To keep original formatting of text */
}
#vocabularyContainer {
  border: 0.5px solid;
  border-color: LightGray;
  border-radius: 10px;
  width: 100%;
  height: 77vh;
  overflow-y: scroll;
}
#stickyWithPadding {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#vocabulary {
  padding-left: 15px;
  padding-right: 15px;
}
#chapterContainer h1 {
  font-size: x-large;
}
#vocabularyContainer h2 {
  font-size: x-large;
}
