.contentContainer {
  height: 80vh;
  overflow-y: scroll;
}
.stickyContainer {
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  padding-bottom: 6px;
  opacity: 1;
  background-color: white;
  top: 0;
}