.scrollableArea {
    border: 0.5px solid;
    border-color: LightGray;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
    white-space: pre-line;
  }